$center: center;

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: tomato;
}

.container-fluid {
  width: 60%;
}

h1, h3, .task {
  color: white;
}

.custom-control-description {
  color: white;
}

.deleteTodo,
.editTodo,
.completeTodo,
.restoreTodo
 {
  font-size: .75em;
}